<!DOCTYPE html>
<html>
    <style>
        #Progress_Status {
          width: 50%;
          background-color: #ddd;
        }
        #myprogressBar {
          width: 2%;
          height: 20px;
          background-color: #4CAF50;
        }
        </style>
    <head>
        <title>Upload</title>
    </head>
    <body>
        <form method=POST enctype=multipart/form-data action="{{ url_for('data_page') }}">
            <input type=file id="media" name=media>
            <input onclick="update()" type="submit">
        </form>
        <div id="Progress_Status">
            <div id="myprogressBar"></div>
          </div>

        <script>
        function update() {
            var element = document.getElementById("myprogressBar");   
            var width = 1;
            var identity = setInterval(scene, 10);
            function scene() {
            if (width >= 100) {
                clearInterval(identity);
            } else {
                width++; 
                element.style.width = width + '%'; 
                }
            }
        }
        </script>
    </body>
</html>